:root {
  --theme: #c4063f;
  --white: #fff;
  --black: #444;
  --padding: 8px;
  --radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: var(--padding);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer span {
  width: 88px;
  height: 88px;
  border: 4px solid var(--theme);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--black);
  font-weight: 800;
}

.form {
  margin-top: 24px;
}

.form input {
  padding: var(--padding);
  margin-bottom: 12px;
  border-radius: var(--radius);
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 180px;
}

.form button {
  background-color: var(--theme);
  width: 100%;
  color: var(--white);
  border: none;
  padding: var(--padding);
  cursor: pointer;
  border-radius: var(--radius);
}
