@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #090909;
  font-family: "Maven Pro", sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 24px;
}

h1{
  color: #eeeeee;
  font-size: 2.6em;
}

p{
  color: #999999;
  max-width: 400px;
  margin-bottom: 32px;
  margin-top: 12px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.buttons{
  display: flex;
  flex: 1;
}

.buttons a{
  display: inline;
  text-decoration: none;
  padding: 8px 24px;
  font-size: 1.4em;
  border-radius: 2px;
  width: 50%;
  text-align: center;
}

.buttons a:nth-child(1){
  background-color: #eeeeee;
  color: #090909;
}

.buttons a:nth-child(2){
  color: #eeeeee;
  border: 1px solid #eeeeee;
  margin-left: 12px;
}

img{
  max-width: 304px;
}

@media (max-width: 650px) {
  .container{
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .container img{
    max-width: 156px;
    margin-bottom: 32px;
  }
}

.copy{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.copy a{
  color: #fff;
}

@media (max-width: 440px) {
  .container{
    margin-top: -16px;
  }

  .container .buttons{
    flex-direction: column;
  }

  .buttons a{
    width: 100%;
  }

  .buttons a:nth-child(2){
    margin-left: 0;
    margin-top: 24px;
  }
}